html,body{
	width: 100%;
	height: 100%;
	margin: 0;
}
body{
    background: url(image/back5.jpg) repeat;
}
.container {
	width:770px;
	padding:0px;
}
header{
	margin-left: auto;
	margin-right: auto;
	width:1024px;
    border: 2px solid #666;
    border-bottom:none;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, .2);
    margin-top:10px;
    background: url(image/icon4.png) 30px 30px repeat-x;
    padding-bottom:4px;
}
main{
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	border: 2px solid #666;
    border-top:none;
    border-bottom:none;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, .2);
    background: #eee;
	min-height: 73%;
	padding-bottom: 10px;
}
footer{
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	border: 2px solid #666;
    border-top:none;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, .2);
    background: url(image/footer-bg3.png) 0px -1px no-repeat;
    height: 83px;
}
.header_back{
    height: 136px;
    background: url(image/header.jpg) top center no-repeat;
}
h1{
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
    margin: 0px
}
td.main_left_td{
	width: 210px;
}
td.main_left_td ul,td.main_left_td div.login{
	margin:15px;
	border: 1px solid #bbb;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, .2);
    background: #fff;
}
div.div_center{
	padding:10px;
	border: 1px solid #bbb;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, .2);
    background: #fff;
}
td.main_right_td{
	padding-top: 15px;
}
.login{
	text-align: center;
	padding: 10px;
	font-size: 14px;
}
#myModal2 {
    width : 680px !important;
    margin-left: 170px;
    margin-top: 25px;   
}


.menu{
	width: 18%;
	margin: 0;
	float:left;
	height: 450px;
}

.main{
	overflow: skroll;
	margin-top: 0;
	width:80%;
	margin-left:195px;
}

.dynamic_space{
	width: 97%;
	margin: 0;
	float: right;
	height: 350px;
	overflow: skroll;
}

.footer{
	font-family: 'Oswald', sans-serif;
	width: 100%;
	position: fixed;
	bottom: 0;
	left:0;
	background: #EEE9E9;
	height: 55px;
}

.footer p{
	margin-top:10px;
	text-align: center;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.verticalhr{
	width:1px;
	height:450px;
	float:left;
	position:absolute;
	margin-left:193px;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.logo {
	text-align: center;
	position: relative;
	width: 180px;
	height: 52px;
	padding-top:10px;
}

div.frontEndError {
	height: 26px;
    color:red;
}

input.frontEndError{
	 border: 1px outset red;
}

select.frontEndError{
	 border: 1px outset red;
}

.newDish {
	width:400px;
	margin-left:190px;
}


div#dishName-error {
	color:red;
	width:300px;
	margin-left:55px;
	text-align:center;
}

#inputdefault {
	width: 200px;
}

.bitch {
	text-align: center;
}

input.inputValue {
	width:150px;
}

.ageAndValue {
	margin-top:50px;
}

.both{
	margin-right:15px;
}

.info {
	width:737px;
	margin-left:15px;
	text-align:center;
	}
.info2 {
		width:737px;
		text-align:center;
	}
.info4 {
		text-align:center;
		width:737px;
		margin-right:25px;
	}


.panel {
  box-shadow: none !important;
}

.info {
	width:737px;
	margin-left:15px;
	text-align:center;
	}
.info2 {
		width:737px;
		text-align:center;
	}
.info3 {
		text-align:center;
		width:751px;
		margin-right:25px;
	}
.table {
	width: 770px;
}
.spoiler .table{
	width: 730px;
.table2 {
	width: 751px;
}

.info {
	text-align: center;
	width: 752px;
}

.check{
	color:green;
}

.check1 {
	color:red;
}

.avail_width{
	width:150px;
}

div.modal-body2 {
	width:660px;
	margin-top:15px;
}

.modalhead {
	font-size:20px;
	text-align:center;
	margin-left:15px;
}

.tooltip {
	width:150px;
	
}

.operation_width {
	width:150px;
	
}
.modalwindowButton {
	margin-right:191px;
}

#hiddendiv {
		width:245px;
 		margin-right:85px;
 		color:red;
 		text-align:center;
 	}
 	
.form-control {
 	background: #a00;
 	font-weight: bold;
 }