body {
	width:1024px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	background: #F8F8FF;
}
.container {
	width:100%;
}

.header{
	
	overflow: auto;
	margin-bottom: 0;
}

.logo{
	width: 18.5%;
	margin:0;
	float: left;
	height: 80px;
}

h1{
	float: left;
}

.login{
	float: right;
}

.menu{
	width: 19%;
	margin: 0;
	float:left;
	height: 450px;
}

.main{
	overflow: skroll;
	margin-top: 0;
	width:80%;
	margin-left:195px;
}

.dynamic_space{
	width: 97%;
	margin: 0;
	float: right;
	height: 450px;
	overflow: skroll;
}

.footer{
	font-family: 'Oswald', sans-serif;
	width: 100%;
	position: fixed;
	bottom: 0;
	left:0;
	background: #EEE9E9;
	height: 55px;
}

.footer p{
	margin-top:10px;
	text-align: center;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.verticalhr{
	width:1px;
	height:450px;
	float:left;
	position:fixed;
	margin-left:193px;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.logo {
	text-align: center;
	position: relative;
	width: 180px;
	height: 52px;
	padding-top:10px;
}

div.error {
	height: 26px;
    color:red;
}

input.error{
	 border: 1px outset red;
}

select.error{
	 border: 1px outset red;
}

.newDish {
	width:400px;
	margin-left:190px;
}


div#dishName-error {
	color:red;
	width:300px;
	margin-left:55px;
	text-align:center;
}
