body {
	width:1024px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.container {
	width:100%;
}

.header{
	
	overflow: auto;
	margin-bottom: 0;
}

.logo{
	width: 18.5%;
	margin:0;
	float: left;
	height: 80px;
}

h1{
	float: left;
}

.login{
	float: right;
}

.menu{
	width: 19%;
	margin: 0;
	float:left;
	height: 450px;
}

.main{
	overflow: auto;
	margin-top: 0;
}

.dynamic_space{
	width: 97%;
	margin: 0;
	float: right;
	height: 450px;
}

.footer{
	font-family: 'Oswald', sans-serif;
	width: 100%;
}

.footer p{
	margin-top:25px;
	text-align: center;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.verticalhr{
	width:1px;
	height:450px;
	float:left;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.logo {
	text-align: center;
	position: relative;
	width: 180px;
	height: 52px;
	padding-top:10px;
}
