body {
	width:1024px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	background: #F8F8FF;
}
.container {
	width:100%;
	margin-top: 10px;
}

html, body {
	height:100%;
}
.header{
	
	overflow: auto;
	margin-bottom: 0;
}

.logo{
	width: 18.5%;
	margin:0;
	float: left;
	height: 80px;
}

h1{
	float: left;
}

.login{
	float: right;
}

.menu{
	width: 18%;
	margin: 0;
	float:left;
	height: 450px;
}

.main{
	overflow: skroll;
	margin-top: 0;
	width:80%;
	margin-left:195px;
}

.dynamic_space{
	width: 97%;
	margin: 0;
	float: right;
	height: 350px;
	overflow: skroll;
}

.footer{
	font-family: 'Oswald', sans-serif;
	width: 100%;
	position: fixed;
	bottom: 0;
	left:0;
	background: #EEE9E9;
	height: 55px;
}

.footer p{
	margin-top:10px;
	text-align: center;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.verticalhr{
	width:1px;
	height:450px;
	float:left;
	position:absolute;
	margin-left:193px;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.logo {
	text-align: center;
	position: relative;
	width: 180px;
	height: 52px;
	padding-top:10px;
}

div.frontEndError {
	height: 26px;
    color:red;
}

input.frontEndError{
	 border: 1px outset red;
}

select.frontEndError{
	 border: 1px outset red;
}

.newDish {
	width:400px;
	margin-left:190px;
}


div#dishName-error {
	color:red;
	width:300px;
	margin-left:55px;
	text-align:center;
}

#inputdefault {
	width: 200px;
}

.bitch {
	text-align: center;
}

input.inputValue {
	width:150px;
}

.ageAndValue {
	margin-top:50px;
}

.both{
	margin-right:15px;
}

.info {
	width:737px;
	margin-left:15px;
	text-align:center;
	}
.info2 {
		width:737px;
		text-align:center;
	}
.info4 {
		text-align:center;
		width:737px;
		margin-right:25px;
	}


.panel {
  box-shadow: none !important;
}

.info {
	width:737px;
	margin-left:15px;
	text-align:center;
	}
.info2 {
		width:737px;
		text-align:center;
	}
.info3 {
		text-align:center;
		width:751px;
		margin-right:25px;
	}
.table2 {
	width: 751px;
}

.info {
	text-align: center;
	width: 752px;
}

.check{
	color:green;
}

.check1 {
	color:red;
}

.avail_width{
	width:150px;
}

div.modal-body2 {
	width:660px;
	margin-top:15px;
}

.modalhead {
	font-size:20px;
	text-align:center;
	margin-left:15px;
}

.tooltip {
	width:150px;
	
}

.operation_width {
	width:150px;
	
}
.modalwindowButton {
	margin-right:191px;
}

#hiddendiv {
		width:245px;
 		margin-right:85px;
 		color:red;
 		text-align:center;
 	}