<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<!-- <Properties>
		<Property name="log-path">/Logss</Property>
	</Properties> -->

	<Appenders>
		<Console name="console-log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>

		<RollingFile name="debug-log" fileName="Log/debug-log.log"
			filePattern="logs/app-%d{MM-dd-yyyy}.log">
			<ThresholdFilter level="debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.softserveinc.orphanagemenu" level="debug"
			additivity="true">
			<AppenderRef ref="debug-log" level="debug" />
		</Logger>
		<Root level="info" additivity="false">
			<AppenderRef ref="console-log"  level="debug" />
			<AppenderRef ref="debug-log" level="debug" />
		</Root>
	</Loggers>
</Configuration>